In [1]:
import pandas as pd

data = pd.read_csv("./barley2.csv")
print(data)

                Site           Variety     Yield  Year
0          Crookston           Glabron  38.13333  1931
1          Crookston         Manchuria  39.93333  1931
2          Crookston           No. 457  45.66667  1931
3          Crookston           No. 462  48.56666  1931
4          Crookston           No. 475  44.10000  1931
5          Crookston          Peatland  41.60000  1931
6          Crookston          Svansota  40.46667  1931
7          Crookston             Trebi  46.93333  1931
8          Crookston            Velvet  41.33333  1931
9          Crookston  Wisconsin No. 38  49.86667  1931
10            Duluth           Glabron  29.66667  1931
11            Duluth         Manchuria  28.96667  1931
12            Duluth           No. 457  33.60000  1931
13            Duluth           No. 462  28.10000  1931
14            Duluth           No. 475  33.06666  1931
15            Duluth          Peatland  32.00000  1931
16            Duluth          Svansota  25.70000  1931
17            Duluth             Trebi  33.93333  1931
18            Duluth            Velvet  26.30000  1931
19            Duluth  Wisconsin No. 38  31.60000  1931
20      Grand Rapids           Glabron  29.13333  1931
21      Grand Rapids         Manchuria  32.96667  1931
22      Grand Rapids           No. 457  32.16667  1931
23      Grand Rapids           No. 462  24.93334  1931
24      Grand Rapids           No. 475  19.70000  1931
25      Grand Rapids          Peatland  34.70000  1931
26      Grand Rapids          Svansota  29.66667  1931
27      Grand Rapids             Trebi  29.76667  1931
28      Grand Rapids            Velvet  23.03333  1931
29      Grand Rapids  Wisconsin No. 38  34.46667  1931
..               ...               ...       ...   ...
90            Morris           Glabron  35.13333  1932
91            Morris         Manchuria  34.36666  1932
92            Morris           No. 457  43.53334  1932
93            Morris           No. 462  47.00000  1932
94            Morris           No. 475  44.23333  1932
95            Morris          Peatland  43.20000  1932
96            Morris          Svansota  35.03333  1932
97            Morris             Trebi  46.63333  1932
98            Morris            Velvet  38.83333  1932
99            Morris  Wisconsin No. 38  47.16667  1932
100  University Farm           Glabron  36.80000  1932
101  University Farm         Manchuria  26.90000  1932
102  University Farm           No. 457  26.43334  1932
103  University Farm           No. 462  25.56667  1932
104  University Farm           No. 475  30.00000  1932
105  University Farm          Peatland  28.06667  1932
106  University Farm          Svansota  27.43334  1932
107  University Farm             Trebi  29.06667  1932
108  University Farm            Velvet  26.80000  1932
109  University Farm  Wisconsin No. 38  38.00000  1932
110           Waseca           Glabron  37.73333  1932
111           Waseca         Manchuria  33.46667  1932
112           Waseca           No. 457  42.20000  1932
113           Waseca           No. 462  44.70000  1932
114           Waseca           No. 475  41.26667  1932
115           Waseca          Peatland  36.03333  1932
116           Waseca          Svansota  38.50000  1932
117           Waseca             Trebi  49.23330  1932
118           Waseca            Velvet  37.40000  1932
119           Waseca  Wisconsin No. 38  58.16667  1932

[120 rows x 4 columns]

In [11]:
print(data.values)
print(type(data.values))

[['Crookston' 'Glabron' 38.13333 1931]
 ['Crookston' 'Manchuria' 39.93333 1931]
 ['Crookston' 'No. 457' 45.66667 1931]
 ['Crookston' 'No. 462' 48.56666 1931]
 ['Crookston' 'No. 475' 44.1 1931]
 ['Crookston' 'Peatland' 41.6 1931]
 ['Crookston' 'Svansota' 40.46667 1931]
 ['Crookston' 'Trebi' 46.93333 1931]
 ['Crookston' 'Velvet' 41.33333 1931]
 ['Crookston' 'Wisconsin No. 38' 49.86667 1931]
 ['Duluth' 'Glabron' 29.66667 1931]
 ['Duluth' 'Manchuria' 28.96667 1931]
 ['Duluth' 'No. 457' 33.6 1931]
 ['Duluth' 'No. 462' 28.1 1931]
 ['Duluth' 'No. 475' 33.06666 1931]
 ['Duluth' 'Peatland' 32.0 1931]
 ['Duluth' 'Svansota' 25.7 1931]
 ['Duluth' 'Trebi' 33.93333 1931]
 ['Duluth' 'Velvet' 26.3 1931]
 ['Duluth' 'Wisconsin No. 38' 31.6 1931]
 ['Grand Rapids' 'Glabron' 29.133329999999997 1931]
 ['Grand Rapids' 'Manchuria' 32.96667 1931]
 ['Grand Rapids' 'No. 457' 32.16667 1931]
 ['Grand Rapids' 'No. 462' 24.93334 1931]
 ['Grand Rapids' 'No. 475' 19.7 1931]
 ['Grand Rapids' 'Peatland' 34.7 1931]
 ['Grand Rapids' 'Svansota' 29.66667 1931]
 ['Grand Rapids' 'Trebi' 29.76667 1931]
 ['Grand Rapids' 'Velvet' 23.03333 1931]
 ['Grand Rapids' 'Wisconsin No. 38' 34.46667 1931]
 ['Morris' 'Glabron' 28.76667 1931]
 ['Morris' 'Manchuria' 27.43334 1931]
 ['Morris' 'No. 457' 28.7 1931]
 ['Morris' 'No. 462' 30.366670000000003 1931]
 ['Morris' 'No. 475' 22.6 1931]
 ['Morris' 'Peatland' 29.866670000000003 1931]
 ['Morris' 'Svansota' 25.76667 1931]
 ['Morris' 'Trebi' 43.76667 1931]
 ['Morris' 'Velvet' 26.133329999999997 1931]
 ['Morris' 'Wisconsin No. 38' 29.46667 1931]
 ['University Farm' 'Glabron' 43.06666 1931]
 ['University Farm' 'Manchuria' 27.0 1931]
 ['University Farm' 'No. 457' 43.26667 1931]
 ['University Farm' 'No. 462' 36.6 1931]
 ['University Farm' 'No. 475' 24.66667 1931]
 ['University Farm' 'Peatland' 32.76667 1931]
 ['University Farm' 'Svansota' 35.13333 1931]
 ['University Farm' 'Trebi' 36.56666 1931]
 ['University Farm' 'Velvet' 39.9 1931]
 ['University Farm' 'Wisconsin No. 38' 39.3 1931]
 ['Waseca' 'Glabron' 55.2 1931]
 ['Waseca' 'Manchuria' 48.86667 1931]
 ['Waseca' 'No. 457' 58.1 1931]
 ['Waseca' 'No. 462' 65.7667 1931]
 ['Waseca' 'No. 475' 46.76667 1931]
 ['Waseca' 'Peatland' 48.56666 1931]
 ['Waseca' 'Svansota' 47.33333 1931]
 ['Waseca' 'Trebi' 63.8333 1931]
 ['Waseca' 'Velvet' 50.23333 1931]
 ['Waseca' 'Wisconsin No. 38' 58.8 1931]
 ['Crookston' 'Glabron' 26.16667 1932]
 ['Crookston' 'Manchuria' 32.96667 1932]
 ['Crookston' 'No. 457' 34.33333 1932]
 ['Crookston' 'No. 462' 30.53333 1932]
 ['Crookston' 'No. 475' 32.13333 1932]
 ['Crookston' 'Peatland' 25.23333 1932]
 ['Crookston' 'Svansota' 20.633329999999997 1932]
 ['Crookston' 'Trebi' 41.83333 1932]
 ['Crookston' 'Velvet' 32.06666 1932]
 ['Crookston' 'Wisconsin No. 38' 35.9 1932]
 ['Duluth' 'Glabron' 25.866670000000003 1932]
 ['Duluth' 'Manchuria' 22.566670000000002 1932]
 ['Duluth' 'No. 457' 22.7 1932]
 ['Duluth' 'No. 462' 22.5 1932]
 ['Duluth' 'No. 475' 27.366670000000003 1932]
 ['Duluth' 'Peatland' 31.366670000000003 1932]
 ['Duluth' 'Svansota' 22.23333 1932]
 ['Duluth' 'Trebi' 30.6 1932]
 ['Duluth' 'Velvet' 22.46667 1932]
 ['Duluth' 'Wisconsin No. 38' 29.33333 1932]
 ['Grand Rapids' 'Glabron' 14.433329999999998 1932]
 ['Grand Rapids' 'Manchuria' 22.133329999999997 1932]
 ['Grand Rapids' 'No. 457' 19.46667 1932]
 ['Grand Rapids' 'No. 462' 19.9 1932]
 ['Grand Rapids' 'No. 475' 15.233329999999999 1932]
 ['Grand Rapids' 'Peatland' 26.76667 1932]
 ['Grand Rapids' 'Svansota' 16.633329999999997 1932]
 ['Grand Rapids' 'Trebi' 20.633329999999997 1932]
 ['Grand Rapids' 'Velvet' 32.23333 1932]
 ['Grand Rapids' 'Wisconsin No. 38' 20.66667 1932]
 ['Morris' 'Glabron' 35.13333 1932]
 ['Morris' 'Manchuria' 34.366659999999996 1932]
 ['Morris' 'No. 457' 43.53334 1932]
 ['Morris' 'No. 462' 47.0 1932]
 ['Morris' 'No. 475' 44.23333 1932]
 ['Morris' 'Peatland' 43.2 1932]
 ['Morris' 'Svansota' 35.03333 1932]
 ['Morris' 'Trebi' 46.63333 1932]
 ['Morris' 'Velvet' 38.83333 1932]
 ['Morris' 'Wisconsin No. 38' 47.16667 1932]
 ['University Farm' 'Glabron' 36.8 1932]
 ['University Farm' 'Manchuria' 26.9 1932]
 ['University Farm' 'No. 457' 26.43334 1932]
 ['University Farm' 'No. 462' 25.566670000000002 1932]
 ['University Farm' 'No. 475' 30.0 1932]
 ['University Farm' 'Peatland' 28.066670000000002 1932]
 ['University Farm' 'Svansota' 27.43334 1932]
 ['University Farm' 'Trebi' 29.066670000000002 1932]
 ['University Farm' 'Velvet' 26.8 1932]
 ['University Farm' 'Wisconsin No. 38' 38.0 1932]
 ['Waseca' 'Glabron' 37.73333 1932]
 ['Waseca' 'Manchuria' 33.46667 1932]
 ['Waseca' 'No. 457' 42.2 1932]
 ['Waseca' 'No. 462' 44.7 1932]
 ['Waseca' 'No. 475' 41.26667 1932]
 ['Waseca' 'Peatland' 36.03333 1932]
 ['Waseca' 'Svansota' 38.5 1932]
 ['Waseca' 'Trebi' 49.2333 1932]
 ['Waseca' 'Velvet' 37.4 1932]
 ['Waseca' 'Wisconsin No. 38' 58.166669999999996 1932]]
<class 'numpy.ndarray'>

In [7]:
print(data.columns)
print(data.index)
print(data.shape)
print(data.ndim)
print(data.dtypes)

Index(['Site', 'Variety', 'Yield', 'Year'], dtype='object')
RangeIndex(start=0, stop=120, step=1)
(120, 4)
2
Site        object
Variety     object
Yield      float64
Year         int64
dtype: object

In [12]:
# loc切片
print(data.loc[data['Year']==1931])

               Site           Variety     Yield  Year
0         Crookston           Glabron  38.13333  1931
1         Crookston         Manchuria  39.93333  1931
2         Crookston           No. 457  45.66667  1931
3         Crookston           No. 462  48.56666  1931
4         Crookston           No. 475  44.10000  1931
5         Crookston          Peatland  41.60000  1931
6         Crookston          Svansota  40.46667  1931
7         Crookston             Trebi  46.93333  1931
8         Crookston            Velvet  41.33333  1931
9         Crookston  Wisconsin No. 38  49.86667  1931
10           Duluth           Glabron  29.66667  1931
11           Duluth         Manchuria  28.96667  1931
12           Duluth           No. 457  33.60000  1931
13           Duluth           No. 462  28.10000  1931
14           Duluth           No. 475  33.06666  1931
15           Duluth          Peatland  32.00000  1931
16           Duluth          Svansota  25.70000  1931
17           Duluth             Trebi  33.93333  1931
18           Duluth            Velvet  26.30000  1931
19           Duluth  Wisconsin No. 38  31.60000  1931
20     Grand Rapids           Glabron  29.13333  1931
21     Grand Rapids         Manchuria  32.96667  1931
22     Grand Rapids           No. 457  32.16667  1931
23     Grand Rapids           No. 462  24.93334  1931
24     Grand Rapids           No. 475  19.70000  1931
25     Grand Rapids          Peatland  34.70000  1931
26     Grand Rapids          Svansota  29.66667  1931
27     Grand Rapids             Trebi  29.76667  1931
28     Grand Rapids            Velvet  23.03333  1931
29     Grand Rapids  Wisconsin No. 38  34.46667  1931
30           Morris           Glabron  28.76667  1931
31           Morris         Manchuria  27.43334  1931
32           Morris           No. 457  28.70000  1931
33           Morris           No. 462  30.36667  1931
34           Morris           No. 475  22.60000  1931
35           Morris          Peatland  29.86667  1931
36           Morris          Svansota  25.76667  1931
37           Morris             Trebi  43.76667  1931
38           Morris            Velvet  26.13333  1931
39           Morris  Wisconsin No. 38  29.46667  1931
40  University Farm           Glabron  43.06666  1931
41  University Farm         Manchuria  27.00000  1931
42  University Farm           No. 457  43.26667  1931
43  University Farm           No. 462  36.60000  1931
44  University Farm           No. 475  24.66667  1931
45  University Farm          Peatland  32.76667  1931
46  University Farm          Svansota  35.13333  1931
47  University Farm             Trebi  36.56666  1931
48  University Farm            Velvet  39.90000  1931
49  University Farm  Wisconsin No. 38  39.30000  1931
50           Waseca           Glabron  55.20000  1931
51           Waseca         Manchuria  48.86667  1931
52           Waseca           No. 457  58.10000  1931
53           Waseca           No. 462  65.76670  1931
54           Waseca           No. 475  46.76667  1931
55           Waseca          Peatland  48.56666  1931
56           Waseca          Svansota  47.33333  1931
57           Waseca             Trebi  63.83330  1931
58           Waseca            Velvet  50.23333  1931
59           Waseca  Wisconsin No. 38  58.80000  1931

In [18]:
o = data[['Site', 'Yield']][:5]['Site']
print(o)

0    Crookston
1    Crookston
2    Crookston
3    Crookston
4    Crookston
Name: Site, dtype: object

In [20]:
print(data.loc[:, 'Year'])

0      1931
1      1931
2      1931
3      1931
4      1931
5      1931
6      1931
7      1931
8      1931
9      1931
10     1931
11     1931
12     1931
13     1931
14     1931
15     1931
16     1931
17     1931
18     1931
19     1931
20     1931
21     1931
22     1931
23     1931
24     1931
25     1931
26     1931
27     1931
28     1931
29     1931
       ...
90     1932
91     1932
92     1932
93     1932
94     1932
95     1932
96     1932
97     1932
98     1932
99     1932
100    1932
101    1932
102    1932
103    1932
104    1932
105    1932
106    1932
107    1932
108    1932
109    1932
110    1932
111    1932
112    1932
113    1932
114    1932
115    1932
116    1932
117    1932
118    1932
119    1932
Name: Year, Length: 120, dtype: int64

In [21]:
print(data.loc[:, ['Site', 'Year']])

                Site  Year
0          Crookston  1931
1          Crookston  1931
2          Crookston  1931
3          Crookston  1931
4          Crookston  1931
5          Crookston  1931
6          Crookston  1931
7          Crookston  1931
8          Crookston  1931
9          Crookston  1931
10            Duluth  1931
11            Duluth  1931
12            Duluth  1931
13            Duluth  1931
14            Duluth  1931
15            Duluth  1931
16            Duluth  1931
17            Duluth  1931
18            Duluth  1931
19            Duluth  1931
20      Grand Rapids  1931
21      Grand Rapids  1931
22      Grand Rapids  1931
23      Grand Rapids  1931
24      Grand Rapids  1931
25      Grand Rapids  1931
26      Grand Rapids  1931
27      Grand Rapids  1931
28      Grand Rapids  1931
29      Grand Rapids  1931
..               ...   ...
90            Morris  1932
91            Morris  1932
92            Morris  1932
93            Morris  1932
94            Morris  1932
95            Morris  1932
96            Morris  1932
97            Morris  1932
98            Morris  1932
99            Morris  1932
100  University Farm  1932
101  University Farm  1932
102  University Farm  1932
103  University Farm  1932
104  University Farm  1932
105  University Farm  1932
106  University Farm  1932
107  University Farm  1932
108  University Farm  1932
109  University Farm  1932
110           Waseca  1932
111           Waseca  1932
112           Waseca  1932
113           Waseca  1932
114           Waseca  1932
115           Waseca  1932
116           Waseca  1932
117           Waseca  1932
118           Waseca  1932
119           Waseca  1932

[120 rows x 2 columns]

In [22]:
print(data.loc[3, ['Site', 'Year']])

Site    Crookston
Year         1931
Name: 3, dtype: object

In [24]:
print(data.iloc[2:6, 0:3])

        Site   Variety     Yield
2  Crookston   No. 457  45.66667
3  Crookston   No. 462  48.56666
4  Crookston   No. 475  44.10000
5  Crookston  Peatland  41.60000

In [28]:
print(data.iloc[(data['Variety']=='No. 457').values, :]['Yield'].sum())

430.16668999999996

In [31]:
print(data.ix[2:6, 1])

2     No. 457
3     No. 462
4     No. 475
5    Peatland
6    Svansota
Name: Variety, dtype: object

G:\soft\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [32]:
data['hh'] = 5
print(data)

                Site           Variety     Yield  Year  hh
0          Crookston           Glabron  38.13333  1931   5
1          Crookston         Manchuria  39.93333  1931   5
2          Crookston           No. 457  45.66667  1931   5
3          Crookston           No. 462  48.56666  1931   5
4          Crookston           No. 475  44.10000  1931   5
5          Crookston          Peatland  41.60000  1931   5
6          Crookston          Svansota  40.46667  1931   5
7          Crookston             Trebi  46.93333  1931   5
8          Crookston            Velvet  41.33333  1931   5
9          Crookston  Wisconsin No. 38  49.86667  1931   5
10            Duluth           Glabron  29.66667  1931   5
11            Duluth         Manchuria  28.96667  1931   5
12            Duluth           No. 457  33.60000  1931   5
13            Duluth           No. 462  28.10000  1931   5
14            Duluth           No. 475  33.06666  1931   5
15            Duluth          Peatland  32.00000  1931   5
16            Duluth          Svansota  25.70000  1931   5
17            Duluth             Trebi  33.93333  1931   5
18            Duluth            Velvet  26.30000  1931   5
19            Duluth  Wisconsin No. 38  31.60000  1931   5
20      Grand Rapids           Glabron  29.13333  1931   5
21      Grand Rapids         Manchuria  32.96667  1931   5
22      Grand Rapids           No. 457  32.16667  1931   5
23      Grand Rapids           No. 462  24.93334  1931   5
24      Grand Rapids           No. 475  19.70000  1931   5
25      Grand Rapids          Peatland  34.70000  1931   5
26      Grand Rapids          Svansota  29.66667  1931   5
27      Grand Rapids             Trebi  29.76667  1931   5
28      Grand Rapids            Velvet  23.03333  1931   5
29      Grand Rapids  Wisconsin No. 38  34.46667  1931   5
..               ...               ...       ...   ...  ..
90            Morris           Glabron  35.13333  1932   5
91            Morris         Manchuria  34.36666  1932   5
92            Morris           No. 457  43.53334  1932   5
93            Morris           No. 462  47.00000  1932   5
94            Morris           No. 475  44.23333  1932   5
95            Morris          Peatland  43.20000  1932   5
96            Morris          Svansota  35.03333  1932   5
97            Morris             Trebi  46.63333  1932   5
98            Morris            Velvet  38.83333  1932   5
99            Morris  Wisconsin No. 38  47.16667  1932   5
100  University Farm           Glabron  36.80000  1932   5
101  University Farm         Manchuria  26.90000  1932   5
102  University Farm           No. 457  26.43334  1932   5
103  University Farm           No. 462  25.56667  1932   5
104  University Farm           No. 475  30.00000  1932   5
105  University Farm          Peatland  28.06667  1932   5
106  University Farm          Svansota  27.43334  1932   5
107  University Farm             Trebi  29.06667  1932   5
108  University Farm            Velvet  26.80000  1932   5
109  University Farm  Wisconsin No. 38  38.00000  1932   5
110           Waseca           Glabron  37.73333  1932   5
111           Waseca         Manchuria  33.46667  1932   5
112           Waseca           No. 457  42.20000  1932   5
113           Waseca           No. 462  44.70000  1932   5
114           Waseca           No. 475  41.26667  1932   5
115           Waseca          Peatland  36.03333  1932   5
116           Waseca          Svansota  38.50000  1932   5
117           Waseca             Trebi  49.23330  1932   5
118           Waseca            Velvet  37.40000  1932   5
119           Waseca  Wisconsin No. 38  58.16667  1932   5

[120 rows x 5 columns]

In [33]:
data.drop(labels='hh', axis=1, inplace=True)
print(data)

                Site           Variety     Yield  Year
0          Crookston           Glabron  38.13333  1931
1          Crookston         Manchuria  39.93333  1931
2          Crookston           No. 457  45.66667  1931
3          Crookston           No. 462  48.56666  1931
4          Crookston           No. 475  44.10000  1931
5          Crookston          Peatland  41.60000  1931
6          Crookston          Svansota  40.46667  1931
7          Crookston             Trebi  46.93333  1931
8          Crookston            Velvet  41.33333  1931
9          Crookston  Wisconsin No. 38  49.86667  1931
10            Duluth           Glabron  29.66667  1931
11            Duluth         Manchuria  28.96667  1931
12            Duluth           No. 457  33.60000  1931
13            Duluth           No. 462  28.10000  1931
14            Duluth           No. 475  33.06666  1931
15            Duluth          Peatland  32.00000  1931
16            Duluth          Svansota  25.70000  1931
17            Duluth             Trebi  33.93333  1931
18            Duluth            Velvet  26.30000  1931
19            Duluth  Wisconsin No. 38  31.60000  1931
20      Grand Rapids           Glabron  29.13333  1931
21      Grand Rapids         Manchuria  32.96667  1931
22      Grand Rapids           No. 457  32.16667  1931
23      Grand Rapids           No. 462  24.93334  1931
24      Grand Rapids           No. 475  19.70000  1931
25      Grand Rapids          Peatland  34.70000  1931
26      Grand Rapids          Svansota  29.66667  1931
27      Grand Rapids             Trebi  29.76667  1931
28      Grand Rapids            Velvet  23.03333  1931
29      Grand Rapids  Wisconsin No. 38  34.46667  1931
..               ...               ...       ...   ...
90            Morris           Glabron  35.13333  1932
91            Morris         Manchuria  34.36666  1932
92            Morris           No. 457  43.53334  1932
93            Morris           No. 462  47.00000  1932
94            Morris           No. 475  44.23333  1932
95            Morris          Peatland  43.20000  1932
96            Morris          Svansota  35.03333  1932
97            Morris             Trebi  46.63333  1932
98            Morris            Velvet  38.83333  1932
99            Morris  Wisconsin No. 38  47.16667  1932
100  University Farm           Glabron  36.80000  1932
101  University Farm         Manchuria  26.90000  1932
102  University Farm           No. 457  26.43334  1932
103  University Farm           No. 462  25.56667  1932
104  University Farm           No. 475  30.00000  1932
105  University Farm          Peatland  28.06667  1932
106  University Farm          Svansota  27.43334  1932
107  University Farm             Trebi  29.06667  1932
108  University Farm            Velvet  26.80000  1932
109  University Farm  Wisconsin No. 38  38.00000  1932
110           Waseca           Glabron  37.73333  1932
111           Waseca         Manchuria  33.46667  1932
112           Waseca           No. 457  42.20000  1932
113           Waseca           No. 462  44.70000  1932
114           Waseca           No. 475  41.26667  1932
115           Waseca          Peatland  36.03333  1932
116           Waseca          Svansota  38.50000  1932
117           Waseca             Trebi  49.23330  1932
118           Waseca            Velvet  37.40000  1932
119           Waseca  Wisconsin No. 38  58.16667  1932

[120 rows x 4 columns]

In [34]:
print(data['Yield'].describe())

count    120.000000
mean      34.420555
std       10.334706
min       14.433330
25%       26.875000
50%       32.866670
75%       41.399997
max       65.766700
Name: Yield, dtype: float64

In [35]:
print(data['Site'].value_counts())

Waseca             20
Crookston          20
Morris             20
University Farm    20
Grand Rapids       20
Duluth             20
Name: Site, dtype: int64

In [38]:
print(data[:][1:6])
print(data[1:6])

        Site    Variety     Yield  Year
1  Crookston  Manchuria  39.93333  1931
2  Crookston    No. 457  45.66667  1931
3  Crookston    No. 462  48.56666  1931
4  Crookston    No. 475  44.10000  1931
5  Crookston   Peatland  41.60000  1931
        Site    Variety     Yield  Year
1  Crookston  Manchuria  39.93333  1931
2  Crookston    No. 457  45.66667  1931
3  Crookston    No. 462  48.56666  1931
4  Crookston    No. 475  44.10000  1931
5  Crookston   Peatland  41.60000  1931

In [39]:
print(data.memory_usage())

Index       80
Site       960
Variety    960
Yield      960
Year       960
dtype: int64

In [42]:
# 实训1
data = pd.read_csv("./barley2.csv")
print(data.dtypes)
print(data.shape)
print(data.size)
print(data.ndim)
print(data.memory_usage())

Site        object
Variety     object
Yield      float64
Year         int64
dtype: object
(120, 4)
480
2
Index       80
Site       960
Variety    960
Yield      960
Year       960
dtype: int64

In [44]:
print(data['Yield'].describe())

count    120.000000
mean      34.420555
std       10.334706
min       14.433330
25%       26.875000
50%       32.866670
75%       41.399997
max       65.766700
Name: Yield, dtype: float64