In [14]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
# pandas 操作mysql
engine = create_engine("mysql+pymysql://root:123456@localhost:3306/test?charset=utf8")

In [2]:
print(engine)

Engine(mysql+pymysql://root:***@localhost:3306/test?charset=utf8)

In [10]:
# 访问表
df = pd.read_sql_table("meal_order_detail1", con = engine)
print(len(df))

2779

In [12]:
# 查询语句
df2 = pd.read_sql_query("show tables", con = engine)
print(df2)

df3 = pd.read_sql("select * from meal_order_detail1 limit 5", con=engine)
print(len(df3))

       Tables_in_test
0             loginfo
1  meal_order_detail1
2           primary_2
3           primary_3
4           primary_4
5              scores
6            students
7                test
5

In [44]:

# 数据预处理


# DataFrame 的合并
df1 = pd.DataFrame({"Number":[1001,1002,1003], "Math":[np.nan,56,99]})
df2 = pd.DataFrame({"Number":[1003,1001,1002], "Chinese":[77,np.nan,86]})
df8 = pd.DataFrame({"Number":[1001,1003,1002], "Math":[58,92,np.nan]})
df9 = pd.DataFrame({"Number":[1002,1003,1002], "Chinese":[57,np.nan,85]})

# 索引不同 
# 1合并
df3 = pd.concat([df1, df2], axis=1, join="inner")
df10 = pd.concat([df8, df9], axis=1, join="inner")

# 2合并
# 横向连接
df4 = pd.concat([df1,df2], axis=1, join="inner")
df14 = pd.concat([df1,df2], axis=1, join="inner")

   Number  Math  Number  Chinese
0    1001   NaN    1003     77.0
1    1002  56.0    1001      NaN
2    1003  99.0    1002     86.0
   Number  Math  Number  Chinese
0    1001  58.0    1002     57.0
1    1003  92.0    1003      NaN
2    1002   NaN    1002     85.0
   Number  Math  Number  Chinese
0    1001   NaN    1003     77.0
1    1002  56.0    1001      NaN
2    1003  99.0    1002     86.0
0    1001  58.0    1002     57.0
1    1003  92.0    1003      NaN
2    1002   NaN    1002     85.0
        Math  Chinese
Number
1001     NaN      NaN
1002    56.0     86.0
1003    99.0     77.0
1001     NaN      NaN
1002    56.0     86.0
1003    99.0     77.0

In [ ]:
# 重设索引
df1.set_index("Number", inplace=True)
df2.set_index("Number", inplace=True)
df8.set_index("Number", inplace=True)
df9.set_index("Number", inplace=True)

# 纵向连接
df5 = pd.concat([df1,df2], axis=0, join="inner")
#print(df5)



# 纵向
df13 = pd.concat([df3, df10], axis=0, join="inner")
print(df13)

df15 = pd.concat([df4, df14], axis=0, join="inner")
print(df15)